@charset "utf-8";
.daohang {
  width: 1510px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}
.nav {
  height: 56px;
  background-color: #045B91;
}
.li1 {
  display: inline;
  line-height: 56px;
}
.li1 a:link {
  width: 90px;
  height: 56px;
  float: left;
  padding: 0px 8px 0px 8px;
  margin-top: 0;
  margin-right: 250px;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
  font-family: tahoma;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
}
.li1 a:hover {
  color: rgba(250, 250, 250, 0.98);
  background-color: #071D64;
}
.topmagin {
  width: auto;
  margin: 0 auto;
}
.li1 a:visited {
    color: rgba(255,255,255,1.00);
}
.logo {
  width: 1510px;
  background-color: rgba(245, 245, 245, 1.00);
  height: 249px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.logowenzi {
  margin-left: 50px
}
.beijingyanse {
    background-color: rgba(192,192,192,0.60);
    width: 100%;
    height: 100%;
}.shangxia {
    background-color: rgba(4,91,145,1);
    height: 50px;
    width: 100%;
}

